{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "@utils": "./src/lib/utils",
          "@lib": "./src/lib",
          "@constant": "./src/constant",
          "@api": "./src/api",
          "@components": "./src/components",
          "@contex": "./src/contex",
          "@hook": "./src/hook",
          "@layout": "./src/layout",
          "@routes": "./src/routes",
          "@store": "./src/store",
          "@view": "./src/view"
        }
      }
    ]
  ]
}
